div{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    font-style: italic;
    font-size: 30px;
    background-color:rgba(200,50,30,0.2);
    border-style: solid;
    border-color: black; 

    
  }
  